body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background-color: #f1f1f1;
}

/* TOPO */
.topo {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 20px;
}

.topo img {
    width: 300px;
}

/* MENU */
.menu {
    background-color: #b22222;
    text-align: center;
    padding: 10px;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* CONTEÚDO */
.principal {
    width: 85%;
    margin: auto;
}

/* SEÇÕES */
.secao {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-left: 6px solid #b22222;
}

/* TITULOS */
h2 {
    color: #8b0000;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #8b0000;
    color: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

/* RODAPÉ */
.rodape {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 15px;
}